h1 {
  color: LightSeaGreen;
  font-family:'Press Start 2P';
  text-align: center
}

h2{
  color: powderblue;
  font-family: 'Glegoo'
}

body{
  color: grey;
  font-family: 'Glegoo';
  font-size: 16px
}
